.btn {
	padding: .5rem 1rem;
	border-radius: 1rem;
	background-color: #e90d7b;
	color: #fff;
	border: none;
	margin-top: 1rem;
	box-shadow: 0 1px 8px rgba(255, 88, 130, 0.411);
	cursor: pointer;
}

.btn:hover {
	transform: translateY(-2px) scale(1.04);
	transition: all .3s ease-in;
}

.btn:active {
	transform: translateY(2px);
	transition: all .3s ease-in-out;
}
